* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #f3eee4;
    font-size: 18px;
    line-height: 1.66;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    margin: 10px 0 25px 0;
    border-bottom: 1px solid #b4965c;
}

header h1 {
    font-family: 'Monoton', cursive;
    letter-spacing: 1px;
    word-spacing: 10px;
    font-size: 3rem;
}

h4 {
    font-weight: 300;
    color: #b4965c;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

/*
-----------  Button on image --------
*/

.cover-images {
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.cover-images:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .4);
}

.show-movie {
    padding: 10px 0;
    color: #b4965c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-movie button {
    background-color:  rgba(0, 0, 0, 0.7);
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
    padding: 15px 20px;
    opacity: 0;
    transition: opacity .35s ease;
}

.cover-images:hover .show-movie button {
    color: #f3eee4;
    font-weight: 800;
    border: 1px solid #f3eee4;
    opacity: 1;
}

.show-movie button:active, .show-movie button:focus {
    outline: none ;
    box-shadow: none ;
}

/*
------------- Pop-up -------------------
*/

.modal-header {
    border-bottom: none;
}

.modal-content{
    border-radius: 0;
    background-clip: border-box;
    min-height: 400px;
    min-width: 300px;
    color: #f3eee4;
    background-color: #000000;
}

.modal-dialog {
    max-width: 800px;
}

.modal-body {
    margin-bottom: 50px;
}

.modal-body h1 {
    color:#b4965c;
    font-family: 'Monoton', cursive;
}

.thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;

    margin: 0 auto;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    margin: 10px 0;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.modal-header .close {
    padding: 0.5rem;
    margin: -1.5rem -1rem -1rem auto;
}

.close {
    color: #fff;
}


/*
------------ Footer ----------------
*/

footer {
    margin: 50px;
    text-transform: uppercase;
    color: #b4965c;
}

/*
----------- Media Queries ------------
*/

@media (max-width: 991px) {
    .desc-price {
        left: 42%;
        bottom: -10%;
    }
}

@media (max-width: 767px) {
    .desc-price {
        left: 38%;
        bottom: -15%;
    }

    .modal-body h1 {
        font-size: 24px;
    }
}